<div class="main-wrap">
  <div class="post-wraper">
   <div class="post-title">質問一覧</div>
    <% @questions.each do |question|%>   
      <%= render partial: "question", locals: { question: question } %>
    <% end %>
  </div>

</div>