.main-wrap{
  height: 100vh;
  display: flex;
  
 }
 

.post-main-wrap{
  width: 100%;
  margin: 0 auto;
  
}

.post-wraper{
  width: 70%;
  margin: 0 auto;
}

.maim-title{
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  padding: 30px 0;
}


.post-wrap{
  background-color: white;
  margin-bottom: 30px;
  border-radius: 5px;
  border: solid 1px lightgray;
  
 
  
}

.post-header{
  display: flex;
  justify-content: space-between;
  background-color: cornflowerblue;
  border-radius: 5px 5px 0 0;
  padding: 5px;
}

.post-title{
  padding: 5px;
  text-decoration: none;

}
.post-content{
  padding: 5px;
  text-decoration: none;
}


/* 詳細ページ */
.prototype__manage{
  display: flex;
  justify-content: space-around;
  padding-top: 16px;
}
.prototype__btn{
  display: block;
  padding: 0.4em 1.6em;
  color: #999;
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin-bottom: 20px;
}